@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,300,regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: gothampro;
  font-display: swap;
  src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_black;
  font-display: swap;
  src: url("../fonts/gothampro_black.woff2") format("woff2"), url("../fonts/gothampro_black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_blackitalic;
  font-display: swap;
  src: url("../fonts/gothampro_blackitalic.woff2") format("woff2"), url("../fonts/gothampro_blackitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_bold;
  font-display: swap;
  src: url("../fonts/gothampro_bold.woff2") format("woff2"), url("../fonts/gothampro_bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_bolditalic;
  font-display: swap;
  src: url("../fonts/gothampro_bolditalic.woff2") format("woff2"), url("../fonts/gothampro_bolditalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_italic;
  font-display: swap;
  src: url("../fonts/gothampro_italic.woff2") format("woff2"), url("../fonts/gothampro_italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_light;
  font-display: swap;
  src: url("../fonts/gothampro_light.woff2") format("woff2"), url("../fonts/gothampro_light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_lightitalic;
  font-display: swap;
  src: url("../fonts/gothampro_lightitalic.woff2") format("woff2"), url("../fonts/gothampro_lightitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_medium;
  font-display: swap;
  src: url("../fonts/gothampro_medium.woff2") format("woff2"), url("../fonts/gothampro_medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gothampro_mediumitalic;
  font-display: swap;
  src: url("../fonts/gothampro_mediumitalic.woff2") format("woff2"), url("../fonts/gothampro_mediumitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Fira Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Fira Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  background-color: #333;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  width: 15.3125rem;
  height: 4.0625rem;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  width: 245px;
  height: 65px;
  background: #DBA069;
  color: #333333;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.article-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
}

.text {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
}

.header {
  min-height: 8.5625rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 0rem 0.9375rem;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1.5625rem;
  margin-bottom: 1rem;
}

.header__whats-app {
  margin-right: 2.1875rem;
}

.header__phone-main {
  border: 0.1875rem solid #DBA069;
  border-radius: 0.1875rem;
  color: #fff;
  padding: 0.625rem 1.25rem;
  margin-right: 2.1875rem;
}

.header__phone-main::before {
  content: "";
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  height: 0.9375rem;
  width: 0.9375rem;
}

.header__content {
  padding-top: 1.5625rem;
  vertical-align: middle;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.menu__item {
  line-height: 1.2;
}

.menu__item:not(:last-child) {
  margin-right: 3.125rem;
}

.menu__link {
  display: inline-block;
  padding-bottom: 0.3125rem;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  background-color: #DBA069;
  bottom: 0;
  left: 50%;
  width: 0;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.menu__link:hover::after {
  width: 100%;
  left: 0;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #fff;
}

.footer__payment {
  margin-bottom: 6.25rem;
}

.actions-footer {
  border: 8px solid #842231;
  border-radius: 0.5rem;
  padding: 4.375rem 0.9375rem;
  text-align: center;
}

.actions-footer__title {
  margin-bottom: 0.875rem;
  font-weight: 700;
  font-size: 32px;
  line-height: 133%;
  margin: 0 auto;
  color: #2E363E;
}

.actions-footer__sub-title {
  font-weight: 400;
  font-size: 21px;
  line-height: 143%;
  letter-spacing: -0.2px;
  margin-bottom: 2.25rem;
}

.actions-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions-footer__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17.5rem;
          flex: 0 1 17.5rem;
  min-height: 5.3125rem;
  background: #F2F6FA;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  padding: 2rem;
  margin-right: 1.875rem;
  margin-bottom: 1.875rem;
  outline: none;
}

.actions-footer__input_name::before {
  content: "";
  background-image: url("../img/footer/actions-footer-pers.svg");
  width: 1.4375rem;
  height: 1.4375rem;
  background-repeat: no-repeat;
}

.actions-footer__input_phone::before {
  content: "";
  background-image: url("../img/footer/actions-footer-pers.svg");
  width: 1.4375rem;
  height: 1.4375rem;
  background-repeat: no-repeat;
}

.actions-footer__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17.5rem;
          flex: 0 1 17.5rem;
  min-height: 5.3125rem;
  background: #842231;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.no-webp .payment-footer{
  background-image: url("../img/footer/payment-footerr-bg.png"); }

.payment-footer {
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  margin-top: 11.5625rem;
}

.payment-footer__title {
  padding-top: 5rem;
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 4.0625rem;
}

.payment-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-payment-footer {
  text-align: center;
  margin: 0 auto 3.125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 12.8125rem;
          flex: 0 1 12.8125rem;
  text-align: center;
}

.item-payment-footer__img {
  margin-bottom: 0.625rem;
}

.item-payment-footer__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 110%;
  text-align: center;
  color: #333333;
}

.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0.9375rem;
}

.contact-footer__map {
  margin-right: 6.375rem;
  padding: 0 0.9375rem;
}

.contact-footer__contacts {
  padding-top: 3.5625rem;
}

.contacts-contact-footer__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 1.875rem;
}

.contacts-contact-footer__sub-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  margin-bottom: 1.875rem;
}

.contacts-contact-footer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-contact-footer__links {
  margin-right: 3.4375rem;
}

.contacts-contact-footer__phone::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/footer/contacts-contact-footer__phone.svg");
  background-repeat: no-repeat;
  margin-right: 0.75rem;
}

.contacts-contact-footer__mail::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/footer/contacts-contact-footer__mail.svg");
  background-repeat: no-repeat;
  margin-right: 0.75rem;
}

.contacts-contact-footer__social-instagram::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/footer/contacts-contact-footer__instagram.svg");
  background-repeat: no-repeat;
  margin-right: 0.75rem;
}

.contacts-contact-footer__qr-code {
  cursor: pointer;
}

.contacts-contact-footer li {
  cursor: pointer;
}

.contacts-contact-footer li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.list-footer {
  padding: 6.25rem 0;
}

.list-footer__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.875rem;
}

.list-footer__list-item:not(:last-child) {
  margin-right: 3.75rem;
  margin-bottom: 1.875rem;
}

.list-footer__sign {
  text-align: center;
  color: #842231;
  text-decoration: underline;
  cursor: pointer;
}

.no-webp .home{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 9, 11, 0.3)), to(rgba(37, 20, 22, 0.3))), url("../img/home/home-bg.jpg") no-repeat; }

.no-webp .home{
  background: -o-linear-gradient(top, rgba(22, 9, 11, 0.3) 0%, rgba(37, 20, 22, 0.3) 100%), url("../img/home/home-bg.jpg") no-repeat; }

.no-webp .home{
  background: linear-gradient(180deg, rgba(22, 9, 11, 0.3) 0%, rgba(37, 20, 22, 0.3) 100%), url("../img/home/home-bg.jpg") no-repeat; }

.home {
  background-size: cover;
  color: #fff;
}

.home__container {
  padding: 7.1875rem 0.9375rem 8.75rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__text {
  margin-bottom: 2.5rem;
}

.home__title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
  line-height: 140%;
}

.home__link {
  margin-bottom: 2.5rem;
}

.cotages-home {
  margin-bottom: 2.5rem;
}

.cotages-home__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.cotages-home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cotages-home__cotage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.cotages-home__amount {
  font-size: 8rem;
  font-weight: 400;
  margin-right: 1.25rem;
}

.cotages-home__description {
  width: 116px;
  height: 84px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.terms-home {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.5rem;
          flex: 0 1 18.5rem;
}

.terms-home__item {
  line-height: 1.5625rem;
  font-size: 1rem;
}

.terms-home__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.title-cottages-home {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.amount-cottages-home {
  font-size: 8rem;
  font-weight: 400;
  margin-right: 1.25rem;
}

.description-cottages-home {
  width: 116px;
  height: 84px;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  padding-top: 1.25rem;
}

.content-cottages-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cotage-cottages-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-webp .about{
  background-image: url("../img/about/about-bg.jpg"); }

.about {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.3125rem top 3.125rem;
}

.about__container {
  padding: 7rem 0.9375rem;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-about__text {
  max-width: 40rem;
}

.body-about__title {
  margin-bottom: 1.5625rem;
}

.body-about__title-main {
  margin-bottom: 2.5rem;
}

.body-about__sub-text {
  margin-bottom: 3.75rem;
}

.body-about .body-about__text-title_company {
  margin-bottom: 1.875rem;
}

.body-about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0rem 0.9375rem;
}

.body-about__img-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-bottom: 2.5rem;
}

.no-webp .body-about__img-main::before{
  background-image: url("../img/about/01-before.png"); }

.body-about__img-main::before {
  content: "";
  background-position: bottom 100px right 100px;
  width: 28.125rem;
  height: 32.0625rem;
  background-repeat: no-repeat;
}

.footer-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-about__sub-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40rem;
          flex: 0 1 40rem;
}

.footer-about__sub-text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer-about__text-title {
  margin-bottom: 1.875rem;
}

.cottages-slider {
  background: rgb(255, 250, 240);
  padding: 3.125rem 0.9375rem;
}

.item-cottages-slider {
  position: relative;
}

.item-cottages-slider__wrapper {
  margin-bottom: 0.9375rem;
}

.item-cottages-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-cottages-slider__img {
  margin-right: 3.75rem;
}

.item-cottages-slider__apartment-area {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  margin-bottom: 0.625rem;
}

.item-cottages-slider__arr-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Стрелки */

.swiper-button-prev {
  position: relative;
}

.swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.no-webp .location{
  background-image: url("../img/location/location-bg.png"); }

.location {
  background: #fff;
  padding: 6.25rem 0.9375rem;
  background-repeat: no-repeat;
  background-position: right 100px;
}

.location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40rem;
          flex: 0 1 40rem;
  margin-right: 8.75rem;
  margin-bottom: 3.125rem;
  position: relative;
  top: 6.25rem;
}

.location__text-main {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.location__text-main:not(:last-child) {
  margin-bottom: 1.25rem;
}

.location__title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.location__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.9375rem;
          flex: 0 1 38.9375rem;
}

.location__img-main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.9375rem;
          flex: 0 1 38.9375rem;
}

.no-webp .location__img-main::after{
  background-image: url("../img/location/location-1.png"); }

.location__img-main::after {
  content: "";
}

.no-webp .benefits{
  background-image: url("../img/benefits/01.png"); }

.benefits {
  background: #F9F4F4;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.benefits__own-container {
  padding: 5rem 0.9375rem;
  max-width: 56.25rem;
  margin: 0 auto;
}

.benefits__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 2.5rem;
}

.benefits .benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.benefits__img {
  margin: 3.125rem 0rem;
}

.item-benefits__img {
  margin-right: 0.9375rem;
}

.item-benefits__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.item-benefits-last {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.no-webp .why{
  background-image: url("../img/why/why-bg.png"); }

.why {
  background: #fff;
  background-repeat: no-repeat;
  background-position: center 3.125rem;
}

.why__container {
  padding: 7.1875rem 0.9375rem;
}

.why__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  line-height: 58px;
  margin-bottom: 6.25rem;
}

.why .why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__img {
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
}

.why .why__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why .why__row:not(:last-child) {
  margin-bottom: 2.5rem;
  margin-right: 0.9375rem;
}

.item-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 0.9375rem;
  margin-bottom: 1.875rem;
}

.item-why__img {
  margin: 0 0.9375rem 1.25rem 0;
}

.item-why__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.item-why__text-title {
  margin-bottom: 0.75rem;
}

.no-webp .technology{
  background-image: url("../img/technology/technology-bg.png"); }

.technology {
  background: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
}

.technology__container {
  padding: 7.5rem 0.9375rem;
}

.technology__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0 auto 6.25rem;
  color: #333333;
}

.technology .technology__container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.625rem;
}

.technology__items-right {
  position: relative;
  top: 6.25rem;
}

.item-technology {
  text-align: left;
  margin-bottom: 5.125rem;
  margin-right: 6.25rem;
}

.item-technology__img {
  margin-bottom: 2rem;
}

.item-technology__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 0.75rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 75.625em) {
  .home__title {
    font-size: 2.375rem;
  }
}

@media (max-width: 20em) {
  .home__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 71.25rem) {
  .contact-footer__map {
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 68.75rem) {
  .why .why__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .why__img {
    text-align: center;
    margin: 0 auto 2.5rem;
  }
}

@media (max-width: 62rem) {
  .payment-footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .location__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .location__text {
    margin-bottom: 9.375rem;
  }
}

@media (max-width: 56.25rem) {
  .about__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 48.5625rem) {
  .benefits__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #DBA069;
    padding: 3.125rem 1.875rem 0rem 1.875rem;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .menu-open .menu__body {
    top: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .menu__list {
    display: block;
    width: 100%;
  }

  .menu__item {
    font-size: 2rem;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__link {
    display: block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .technology .technology__container-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 38.75rem) {
  .actions-footer__input {
    margin-right: 0rem;
  }
}

@media (max-width: 34.375rem) {
  .why .why__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-why {
    margin: 0 auto 1.875rem;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .item-why__img {
    margin: 0 auto 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.875rem , 1.6952247191rem  +  0.8988764045vw , 2.375rem )) {
    .home__title {
      font-size: clamp( 1.875rem , 1.6952247191rem  +  0.8988764045vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6952247191rem  +  0.8988764045vw , 2.375rem )) {
    .home__title {
      font-size: calc(1.875rem + 0.5 * (100vw - 20rem) / 55.625);
    }
}
}

@media (any-hover: hover) {
  .actions-footer__btn:hover {
    background: #52141e;
  }
}

.webp .payment-footer{ background-image: url(../img/footer/payment-footerr-bg.webp); }

.webp .home{ background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 9, 11, 0.3)), to(rgba(37, 20, 22, 0.3))), url(../img/home/home-bg.webp) no-repeat; }

.webp .home{ background: -o-linear-gradient(top, rgba(22, 9, 11, 0.3) 0%, rgba(37, 20, 22, 0.3) 100%), url(../img/home/home-bg.webp) no-repeat; }

.webp .home{ background: linear-gradient(180deg, rgba(22, 9, 11, 0.3) 0%, rgba(37, 20, 22, 0.3) 100%), url(../img/home/home-bg.webp) no-repeat; }

.webp .about{ background-image: url(../img/about/about-bg.webp); }

.webp .body-about__img-main::before{ background-image: url(../img/about/01-before.webp); }

.webp .location{ background-image: url(../img/location/location-bg.webp); }

.webp .location__img-main::after{ background-image: url(../img/location/location-1.webp); }

.webp .benefits{ background-image: url(../img/benefits/01.webp); }

.webp .why{ background-image: url(../img/why/why-bg.webp); }

.webp .technology{ background-image: url(../img/technology/technology-bg.webp); }